---
import PageContent from "../../components/PageContent.astro";
import query from "../../helpers/query";
import Layout from "../../layouts/Layout.astro";

const { article } = Astro.params;


const rawArticleData = await query("articles", {
    slug: {
        equals: article,
    },
});

const articleData: {
    id: string,
    title: string,
    content: any,
    "hero-image": { url: string },
    thumbnail: { url: string },
    author: {
        username: string,
        id: string,
        slug: string,
    },
    description: string,
} = rawArticleData.docs[0];
---

<Layout title={`${articleData.title}`}>
    <div class="article">
        <div class="article-heading">
            <h1 class="article-title">{articleData.title}</h1>
            <div class="article-author">
                von
                <a href={`/authors/${articleData.author.slug}`}><strong>{articleData.author.username}</strong></a>
            </div>
        </div>
        <div class="hero-image" style={`background-image: url(${articleData["hero-image"].url});`}></div>
        <PageContent>
            {articleData.content}
        </PageContent>
    </div>
</Layout>

<style>
    .article {

        margin-top: var(--padding-large);
    }

    .article-content {
        margin: var(--padding-large) auto;
        width: 80%;
        max-width: 1400px;
    }

    .article-heading {
        width: 80%;
        max-width: 1400px;
        margin: 0 auto;
        margin-bottom: var(--padding-large);
    }

    .article-author {
        margin-left: var(--padding-normal);
        color: var(--fg-sec);
    }

    .hero-image {
        width: 100%;
        max-width: 1500px;
        aspect-ratio: 20 / 9;
        margin: 0 auto;
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
    }
</style>